# ch02. 자료형과 연산자
## 1. 변수
### (1) 변수 선언
-값을 저장할 수 있는 변수를 만드는 것<br>
-변수 선언을 위한 타입은 필요없다.<br>
### (2) 변수 할당
-어떤 값이 이름을 갖도록 하는 과정<br>
-할당연산자(=)을 사용 <br>

In [1]:
r=5
area=3.14*5*5
print(area)

78.5

In [2]:
import numpy as np
r=5
area=np.pi*r*r
print('반지름이 5인 원의 넓이는',area)

반지름이 5인 원의 넓이는 78.53981633974483

In [3]:
a=5
id(a)

140726960531360

In [4]:
print(id(a)) #a변수의 주소
print(type(a)) #a변수의 타입

140726960531360
<class 'int'>

In [5]:
a='python'
id(a)

1714279601392

### (3) 변수 이름 규칙
한국어도 변수명으로 쓸수있지만 하지말자. <br>
특문중에 가능한 건 언더바 뿐<br>

In [6]:
print('hello'+',world'+' 1')
print(1+1)
print('hello'+',world '+str(3))
#문자더하기 문자, 숫자더하기 숫자는 되지만 문자 더하기 숫자는 안된다. 하려면 숫자를 문자화할것.

hello,world 1
2
hello,world 3

In [7]:
#print=5
#이런걸 하면 print 함수가 print라는 변수가 되어버리고 만다. print_ 등으로 다른 이름을 만들어 할당할 것.
#if 등 기존의 예약어, 변수는 사용하지 말 것.

In [8]:
i=5j+4 #복소수
type(i) #변수의 타입반환

complex

In [9]:
#자동완성(tab키)
isinstance(i,complex)#변수의 타입이 complex

True

In [10]:
i="i"
type(i)

str

In [11]:
i=10
type(i)

int

In [12]:
a,b=10,20
print('a=',a,'b=',b)

a= 10 b= 20

In [13]:
a,b=b,a+b
print('a=',a,'b=',b)

a= 20 b= 30

In [14]:
print(a)
print(b)

20
30

In [15]:
### (4) 도움말

In [16]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [17]:
#도움말기능은 shift+tab 키

In [18]:
## 2. 화면입출력

In [19]:
first=input('첫번째 숫자')
second=input('두번째 숫자')

첫번째 숫자10
두번째 숫자20

In [20]:
print('두 수의 합은 ',first+second) #input의 리턴타입은 str

두 수의 합은  1020

In [21]:
print('두 수의 합은',(int(first)+int(second)))

두 수의 합은 30

In [22]:
first=int(input('첫번째 숫자'))
second=int(input('두번째 숫자'))
print('두 수의 합은',(int(first)+int(second)))

첫번째 숫자10
두번째 숫자20
두 수의 합은 30

In [23]:
print('hello','world',sep='/',end='\n\n')
print('hellow','python',sep='★')

hello/world

hellow★python

## 3. 기본자료형-숫자형(정수,실수,복소수),논리형,문자

### 3.1 숫자형

In [24]:
import sys
print(sys.maxsize)

9223372036854775807

In [25]:
i=92233720368547785471245
type(i)

int

In [26]:
f=3.0
type(f)

float

In [27]:
f=3/2
print(f)
print(type(f))
#나누면 무조건 float

1.5
<class 'float'>

In [28]:
f = 2/2
print(f)
print(type(f))

1.0
<class 'float'>

In [29]:
a=3+2j#복소수
b=1j # 복소수
print(a)
print(type(a))
a+b
print(b**2) #b의 제곱

(3+2j)
<class 'complex'>
(-1+0j)

In [30]:
f=1.13e-8
print(f)
g=1.13e12
print(g)

1.13e-08
1130000000000.0

### 3.2 문자형

In [31]:
name='홍길동'
address='서울시 마포구'
print(name,address)

홍길동 서울시 마포구

In [32]:
text = '''이렇게 작성하면
줄바꿈도 그대로 적용해서 여러줄의 문자를 
입력할 수 있습니다'''
print(text)

이렇게 작성하면
줄바꿈도 그대로 적용해서 여러줄의 문자를
입력할 수 있습니다

In [33]:
greeting='''hello
world'''
print(greeting)

hello
world

In [34]:
greeting='hello\nWorld'
print(greeting)

hello
World

In [35]:
print(r'hello\nWorld') #r: row data(데이터 그대로 뿌려라 라는 의미)

hello\nWorld

In [36]:
print("Hello"+", World")

Hello, World

In [37]:
print("Hello"*3) #문자열*숫자; 숫자만큼 반복

HelloHelloHello

In [38]:
#문자열 슬라이싱
str="0123456789"
str[0:3] #0번째부터 3번째 앞까지

'012'

In [39]:
str[-3] #음수 인덱스는 뒤에서부터: 뒤에서부터 3번째

'7'

In [40]:
str[5:] #5번째부터 끝까지

'56789'

In [41]:
str[:3] #처음부터 3번째 앞까지

'012'

In [42]:
str[:] #처음부터 끝까지

'0123456789'

In [43]:
str[5:100] # 5번째 끝까지

'56789'

In [44]:
str[0:9:2] #0번째부터 9번째 앞까지 0,2,4,6,8번째에 access

'02468'

In [45]:
str[::2] #0,9 생략해도 같다

'02468'

In [46]:
str[9:0:-1]#9부터 0번째 전까지 -1씩 감소. str[-1:0:-1](9부터 처음까지 -1씩),str[:0:-1](끝부터 처음까지 -1씩)도 같다.

'987654321'

In [47]:
str[::-1] #전체 뒤집기. str[9::-1]

'9876543210'

In [48]:
import re
data= "이름:홍길동, 주소:서울 전화 : 02-716-1006, 특징:번적번쩍"
print(data)

이름:홍길동, 주소:서울 전화 : 02-716-1006, 특징:번적번쩍

In [49]:
phone_pattern=r'[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}' #숫자는 \d로도 표현가능
phone= re.findall(phone_pattern,data)
print(phone)

['02-716-1006']

In [50]:
phone_pattern = r'[\d]{2,3}-[\d]{3,4}-[\d]{4}'
phone = re.findall(phone_pattern, data)
print('data에서 추출된 전화번호 ', phone)

data에서 추출된 전화번호  ['02-716-1006']

## 논리형(True,False)

In [52]:
a=True
print(a)
print(type(a))
print(isinstance(a,bool))

True
<class 'bool'>
True

In [53]:
#False로 간주되는 것: 0, None, "", [](빈 리스트),()튜플
#그러나 " " 처럼 스페이스가 하나 들어가면 True. 널 문자'\0'도 True.
a='\0'
print(isinstance(a,bool))

False

In [54]:
if [] :
    print(True)
else:
    print(False)

False

In [55]:
a=10
b=10
if a-b:
   print(True)
else:
    print(False)

False

In [56]:
if 0+0j:
    print(True)
else:
    print(False)

False