# 1절 파일에 데이터 저장하고 불러오기

In [4]:
f=open('data/ch09_sample.txt','w')
print(f.writable())

True

In [5]:
f.write('hello\nworld\nhello\npython')

24

In [6]:
f.close()

In [12]:
#with 구문 이용하면 파일을 열어 사용한 후 매번 닫아주는 코드를 작성할 필요가 없다
with open('data/ch09_sample.txt','w') as f:
    print(f.writable())
    f.write('python is easy\nPython is smart.')

True

In [22]:
with open('data/ch08_sample.txt','a')as f:
    print("프린트 함수로 파일 쓰기가 가능합니다.",file=f,end='\n')
#메모장에서 열어야 제대로 보이게 된다.

In [24]:
with open('data/ch09_sample.txt','a')as f:
    f.write('1방법. Hello\nWorld\n')
    textlist = ['python is easy.','R is easy','Java is easy']
    f.write('2방법.')
    for line in textlist:
        f.write(line+'\n')
    f.write('3방법.')
    f.writelines(textlist)

In [26]:
with open('data/ch09_sample.txt','r')as txtfile:
    lines=txtfile.readlines()
    print(lines)

['1방법. Hello\n', 'World\n', '2방법.python is easy.\n', 'R is easy\n', 'Java is easy\n', '3방법.python is easy.R is easyJava is easy']

In [30]:
#파일 통채로 읽어 한줄씩 출력
with open('data/ch09_sample.txt','r')as f:
    lines = f.readlines()
    for line in lines:
        print(line.strip())

1방법. Hello
World
2방법.python is easy.
R is easy
Java is easy
3방법.python is easy.R is easyJava is easy

In [35]:
#한 줄 읽고 한 줄 출력하는 방식(파일 끝까지)
with open('data/ch09_sample.txt','r')as f:
    line = f.readline()
    while line !="": #빈 스트링이 왔다면 파일 끝이므로
        print(line,end='')
        line = f.readline()

1방법. Hello
World
2방법.python is easy.
R is easy
Java is easy
3방법.python is easy.R is easyJava is easy

# 2절 피클을 이용한 객체 저장 및 불러오기

## 2.1 형식이 있는 텍스트 데이터

In [42]:
with open('data/ch09_member.txt','r',encoding='UTF-8') as f:
    lines = f.readlines()
    for line in lines:
        data = line.strip().split(',')
        name=data[0]
        age=int(data[1].strip())
        email=data[2].strip()
        address=data[3].strip()
        print("이름:{}\t나이:{}\t메일:{}\t주소:{}".format(name,age,email,address))

이름:홍길동	나이:20	메일:kildong@tjoeun.co.kr	주소:서울시강동구
이름:홍길순	나이:22	메일:kilsun@tjoeun.co.kr	주소:서울시마포구

## 2.2 피클링

In [6]:
class Member:
    def __init__(self,name,age,email,address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return "이름:{}\t나이:{}\t메일:{}\t주소:{}".format(self.name,self.age,self.email,self.address)

In [7]:
user1=Member("홍길동",20,"hong@hong.com","서울")
user2=Member("최민재",22,"hong@hong.com","부산")
user3=Member("김정길",33,"hong@hong.com","창원")
user_list=[user1,user2,user3]

In [8]:
for user in user_list:
    print(user)

이름:홍길동	나이:20	메일:hong@hong.com	주소:서울
이름:최민재	나이:22	메일:hong@hong.com	주소:부산
이름:김정길	나이:33	메일:hong@hong.com	주소:창원

In [12]:
with open('data/ch09_member.data','wb')as f:
    import pickle
    pickle.dump(user_list,f)

#피클링은 반드시 바이너리 모드wb로 해.

In [10]:
with open('data/ch09_member.data','rb')as f:
    ul=pickle.load(f)

In [11]:
for user in ul:
    print(user)

이름:홍길동	나이:20	메일:hong@hong.com	주소:서울
이름:최민재	나이:22	메일:hong@hong.com	주소:부산
이름:김정길	나이:33	메일:hong@hong.com	주소:창원

# 3절. csv형식 파일 읽기쓰기

## 3.1 reader

In [14]:
#csv파일에는 띄어스기하지말것.전부 텍스트로 인식하게 되어버린다.
#주피터 노트북에서는 utf8체계로 만들어지는데 이건 메모장이나 주피터노트북에서 열 것.
#엑셀은 cp949식.

In [17]:
#UTF8로 인코딩된 csv파일 read
import csv
with open('data/ch09_member1.csv','r',encoding='utf8') as f:
    reader=csv.reader(f)
    print(list(reader))
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~")
    print(list(reader)) #reader가 포인터 역할

[['홍길동', '20', 'kildong@naver.com', '서울시강동구'], ['윤길동', '30', 'yunk@daum.net', '서울시강서구'], ['홍길선', '25', 'hongkils@naver.com', '서울시마포구']]
~~~~~~~~~~~~~~~~~~~~~~~~~~
[]

In [18]:
import csv
with open('data/ch09_member1.csv','r',encoding='utf8') as f:
    reader=csv.reader(f)
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@naver.com', '서울시강동구']
['윤길동', '30', 'yunk@daum.net', '서울시강서구']
['홍길선', '25', 'hongkils@naver.com', '서울시마포구']

In [ ]:
#cp949로 인코딩된 csv파일 read(data/ch09_member1.csv)
import csv
with open('data/ch09_member1.csv') as f:
    reader=csv.reader(f)
    for row in reader:
        print(' - '.join(row))

In [ ]:
# numeric엔 따옴표를 뺌
with open('data/ch09_member1.csv', encoding='utf8') as f:
    reader = csv.reader(f, quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

## 3.2 writer

In [154]:
user_list=[['홍길동',20,'kildong@naver.com','서울'],['홍길영',35,'kildong@naver.com','부산']]

In [155]:
import csv
try:
    with open('data/ch09_member2.csv','w',newline='',encoding='utf8') as f:
        writer = csv.writer(f)
        for user in user_list:
                writer.writerow(user)
except FileNotFoundError as e:
    print(e)
    
#newline=''기능 빠지면 \N이 두번 들어가버린다.

In [156]:
#문자는 따옴표 숫자는 따옴표 안붙게 해보기
try:
    with open('data/ch09_member3.csv','w',newline='',encoding='cp949') as f:
        writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
        writer.writerow(user_list)
except FileNotFoundError as e:
    print(e)

## 3.3 DictReader
- csv 파일의 자료를 딕셔너리 데이터로 읽기

In [50]:
# header가 있는 csv파일을 딕셔너리데이터로 읽기
import csv
with open('data/ch09_member4.csv','r',encoding='utf8')as f:
    dict_reader=csv.DictReader(f)
#    print(list(dict_reader))
    for row in dict_reader:
        print(row['name'],row['age'],row['email'],row['address'])

홍길동 20 kildong1@gong.co 서울
홍길영 21 kildong2@gong.co 부산
홍길운 22 kildong3@gong.co 서울

In [53]:
# header가 없는 csv파일을 딕셔너리데이터로 읽기
with open('data/ch09_member4_.csv','r',encoding='utf8')as f:
    dict_reader=csv.DictReader(f,fieldnames=['Name','Age','Email','Address'])
    for row in dict_reader:
        print(row['Name'],row['Age'],row['Email'],row['Address'])

홍길동 20 kildong1@gong.co 서울
홍길영 21 kildong2@gong.co 부산
홍길선 24 kildong3@gong.co 서울

In [56]:
# 한 필드에 팀장 표시 추가(헤더 없)
with open('data/ch09_member4_.csv','r',encoding='utf8')as f:
    dict_reader=csv.DictReader(f,fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        print(row['Name'],row['Age'],row['Email'],row['Address'],row['Job'])

홍길동 20 kildong1@gong.co 서울
홍길영 21 kildong2@gong.co 부산 팀장
홍길선 24 kildong3@gong.co 서울

In [67]:
# 한 행에 팀장 표시 추가(헤더가 있는 경우.data/ch09_member4_.csv)
with open('data/ch09_member4.csv','r',encoding='utf8')as f:
    dict_reader=csv.DictReader(f,restval='')
    for row in dict_reader:
        print(row['Name'],row['Age'],row['Email'],row['Address'],row['Job'])

홍길동 20 kildong1@gong.co 서울
홍길영 21 kildong2@gong.co 부산 팀장
홍길운 22 kildong3@gong.co 서울

## dictwriter
-딕셔너리 변수의 내용을 csv파일로 쓰기

In [72]:
user1={'name':'lachel','age':20,'address':'seoul'}
user2={'name':'john','age':22,'address':'daegu'}
user3={'name':'michael','age':23,'address':'pusan'}
user_list=[user1,user2,user3]
fieldnames=list(user1.keys())

<pre>
csv 파일 내용
name,age,email,address
lachel,20,seoul
...
</pre>

In [79]:
with open('data/ch09_member5.csv','w',encoding='utf8', newline='') as f:
    dict_writer = csv.DictWriter(f,fieldnames=fieldnames)
    dict_writer.writeheader() #header 부분 write
#    for user in user_list:
#        dict_writer.writerow(user)
    dict_writer.writerows(user_list)

In [83]:
user1={'name':'lachel','age':20,'address':'seoul'}
user2={'name':'john','age':28,'address':'daegu','job':'master'}
user3={'name':'michael','age':23,'address':'pusan'}
user_list=[user1,user2,user3]
fieldnames=list(user1.keys())

In [85]:
with open('data/ch09_member5.csv','w',newline='',encoding='utf8') as f:
    dict_writer = csv.DictWriter(f,fieldnames=fieldnames, extrasaction='ignore')#필드네임없는필드는 뭇.
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

In [86]:
with open('data/ch09_member5.csv','w',newline='',encoding='utf8') as f:
    dict_writer = csv.DictWriter(f,fieldnames=fieldnames, extrasaction='raise')#필드네임없는필드면 에러남.
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

ValueError: dict contains fields not in fieldnames: 'job'

# 4절 json데이터 저장하고 불러오기(dump,load)

## 4.1 json dump

In [87]:
data=[
    {"location":"서울",
    "time":12,
    "temperature":3},
    {"location":"인천",
    "time":12,
    "temperature":1}
]

In [88]:
data

[{'location': '서울', 'time': 12, 'temperature': 3},
 {'location': '인천', 'time': 12, 'temperature': 1}]

In [91]:
#dictionary list를 json파일로 저장
# ensure_ascii=False 가 없으면 깨져서 나옵니다.
import json
with open ('data/ch09_member1.json','w') as jsonfile:
    json.dump(data,jsonfile,ensure_ascii=False,indent='\t')

In [ ]:
#Member 객체 리스트를 json파일로 저장

In [100]:
class Member:
    def __init__(self,name,age,email,address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def as_dict(self):
        return {"name":self.name,"age":self.age,"email":self.email,"address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name,self.age,self.email,self.address)

In [101]:
member1=Member("홍길동",20,"h1@h.com","서울")
member2=Member("홍길영",20,"h2@h.com","부산")
member3=Member("홍길단",20,"h3@h.com","서울")
member_list=[member1,member2,member3]

In [104]:
with open("data/ch09_member2.json",'w',encoding="utf8") as jsonfile:
    json.dump(member_list,jsonfile,ensure_ascii=False,indent='\t',
             default=Member.as_dict) #딕셔너리형식으로 바꿔서 넣어준다.

In [ ]:
#whos는 주석과 같이 쓸 수 없다

In [107]:
whos

Variable          Type                          Data/Info
---------------------------------------------------------
Member            type                          <class '__main__.Member'>
NamespaceMagics   MetaHasTraits                 <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
autopep8          module                        <module 'autopep8' from '<...>e-packages\\autopep8.py'>
csv               module                        <module 'csv' from 'C:\\U<...>\anaconda3\\lib\\csv.py'>
data              list                          n=2
dict_reader       DictReader                    <csv.DictReader object at 0x000001A8A0D07A60>
dict_writer       DictWriter                    <csv.DictWriter object at 0x000001A8A0CF5460>
f                 TextIOWrapper                 <_io.TextIOWrapper name='<...>mode='w' encoding='utf8'>
fieldnames        list                          n=3
get_ipython       function                      <function get_ipython at 0x000001A89E723160>
getsizeof         builtin_function_or_method    <built-in function getsizeof>
json              module                        <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
jsonfile          TextIOWrapper                 <_io.TextIOWrapper name='<...>mode='w' encoding='utf8'>
np                module                        <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pickle            module                        <module 'pickle' from 'C:<...>aconda3\\lib\\pickle.py'>
reader            reader                        <_csv.reader object at 0x000001A8A21DAB80>
row               dict                          n=5
ul                list                          n=3
use               list                          n=4
user              dict                          n=3
user1             dict                          n=3
user2             dict                          n=4
user3             dict                          n=3
user_list         list                          n=3
var_dic_list      function                      <function var_dic_list at 0x000001A8A1124C10>
writer            writer                        <_csv.writer object at 0x000001A8A21EC2C0>
yapf_reformat     function                      <function yapf_reformat at 0x000001A8A21BAC10>

In [108]:
del member1,member2,member3,member_list

NameError: name 'member1' is not defined

## 4.2 json load

In [111]:
with open('data/ch09_member2.json','r',encoding='utf8')as jsonfile:
    json_loader=json.load(jsonfile)
    for row in json_loader:
        print(row)

{'name': '홍길동', 'age': 20, 'email': 'h1@h.com', 'address': '서울'}
{'name': '홍길영', 'age': 20, 'email': 'h2@h.com', 'address': '부산'}
{'name': '홍길단', 'age': 20, 'email': 'h3@h.com', 'address': '서울'}

In [113]:
type(member_list),type(member_list[0])

(list, dict)

In [ ]:
#json파일을 객체 리스트 변수로 load

In [115]:
class Member:
    def __init__(self,name,age,email,address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def as_dict(self):
        return {"name":self.name,"age":self.age,"email":self.email,"address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name,self.age,self.email,self.address)

In [118]:
def as_member(dict):
    return Member(dict['name'],dict['age'],dict['email'],dict['address'])

In [119]:
m={'name':'홍길동','age':20,'email':'h@hong.com','address':'seoul'}

In [120]:
print(as_member(m))

홍길동	20	h@hong.com	seoul

In [121]:
with open('data/ch09_member2.json','r',encoding='utf8') as jsonfile:
    member_list = json.load(jsonfile,object_hook=as_member)

In [122]:
for member in member_list:
    print(member)

홍길동	20	h1@h.com	서울
홍길영	20	h2@h.com	부산
홍길단	20	h3@h.com	서울

In [123]:
type(member_list),type(member_list[0])

(list, __main__.Member)

# 5절. hdf5 파일 쓰고 읽기/쓰기

In [ ]:
## 5.1 h5py 사용

In [127]:
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [128]:
type(iris_df)

pandas.core.frame.DataFrame

In [129]:
iris_dic=iris_df.to_dict() # 데이터프레임변수를 딕셔너리변수로
iris_dic

{'sepal_length': {0: 5.1,
  1: 4.9,
  2: 4.7,
  3: 4.6,
  4: 5.0,
  5: 5.4,
  6: 4.6,
  7: 5.0,
  8: 4.4,
  9: 4.9,
  10: 5.4,
  11: 4.8,
  12: 4.8,
  13: 4.3,
  14: 5.8,
  15: 5.7,
  16: 5.4,
  17: 5.1,
  18: 5.7,
  19: 5.1,
  20: 5.4,
  21: 5.1,
  22: 4.6,
  23: 5.1,
  24: 4.8,
  25: 5.0,
  26: 5.0,
  27: 5.2,
  28: 5.2,
  29: 4.7,
  30: 4.8,
  31: 5.4,
  32: 5.2,
  33: 5.5,
  34: 4.9,
  35: 5.0,
  36: 5.5,
  37: 4.9,
  38: 4.4,
  39: 5.1,
  40: 5.0,
  41: 4.5,
  42: 4.4,
  43: 5.0,
  44: 5.1,
  45: 4.8,
  46: 5.1,
  47: 4.6,
  48: 5.3,
  49: 5.0,
  50: 7.0,
  51: 6.4,
  52: 6.9,
  53: 5.5,
  54: 6.5,
  55: 5.7,
  56: 6.3,
  57: 4.9,
  58: 6.6,
  59: 5.2,
  60: 5.0,
  61: 5.9,
  62: 6.0,
  63: 6.1,
  64: 5.6,
  65: 6.7,
  66: 5.6,
  67: 5.8,
  68: 6.2,
  69: 5.6,
  70: 5.9,
  71: 6.1,
  72: 6.3,
  73: 6.1,
  74: 6.4,
  75: 6.6,
  76: 6.8,
  77: 6.7,
  78: 6.0,
  79: 5.7,
  80: 5.5,
  81: 5.5,
  82: 5.8,
  83: 6.0,
  84: 5.4,
  85: 6.0,
  86: 6.7,
  87: 6.3,
  88: 5.6,
  89: 5.5,
  90: 5.5,
  91: 6.1,
  92: 5.8,
  93: 5.0,
  94: 5.6,
  95: 5.7,
  96: 5.7,
  97: 6.2,
  98: 5.1,
  99: 5.7,
  100: 6.3,
  101: 5.8,
  102: 7.1,
  103: 6.3,
  104: 6.5,
  105: 7.6,
  106: 4.9,
  107: 7.3,
  108: 6.7,
  109: 7.2,
  110: 6.5,
  111: 6.4,
  112: 6.8,
  113: 5.7,
  114: 5.8,
  115: 6.4,
  116: 6.5,
  117: 7.7,
  118: 7.7,
  119: 6.0,
  120: 6.9,
  121: 5.6,
  122: 7.7,
  123: 6.3,
  124: 6.7,
  125: 7.2,
  126: 6.2,
  127: 6.1,
  128: 6.4,
  129: 7.2,
  130: 7.4,
  131: 7.9,
  132: 6.4,
  133: 6.3,
  134: 6.1,
  135: 7.7,
  136: 6.3,
  137: 6.4,
  138: 6.0,
  139: 6.9,
  140: 6.7,
  141: 6.9,
  142: 5.8,
  143: 6.8,
  144: 6.7,
  145: 6.7,
  146: 6.3,
  147: 6.5,
  148: 6.2,
  149: 5.9},
 'sepal_width': {0: 3.5,
  1: 3.0,
  2: 3.2,
  3: 3.1,
  4: 3.6,
  5: 3.9,
  6: 3.4,
  7: 3.4,
  8: 2.9,
  9: 3.1,
  10: 3.7,
  11: 3.4,
  12: 3.0,
  13: 3.0,
  14: 4.0,
  15: 4.4,
  16: 3.9,
  17: 3.5,
  18: 3.8,
  19: 3.8,
  20: 3.4,
  21: 3.7,
  22: 3.6,
  23: 3.3,
  24: 3.4,
  25: 3.0,
  26: 3.4,
  27: 3.5,
  28: 3.4,
  29: 3.2,
  30: 3.1,
  31: 3.4,
  32: 4.1,
  33: 4.2,
  34: 3.1,
  35: 3.2,
  36: 3.5,
  37: 3.6,
  38: 3.0,
  39: 3.4,
  40: 3.5,
  41: 2.3,
  42: 3.2,
  43: 3.5,
  44: 3.8,
  45: 3.0,
  46: 3.8,
  47: 3.2,
  48: 3.7,
  49: 3.3,
  50: 3.2,
  51: 3.2,
  52: 3.1,
  53: 2.3,
  54: 2.8,
  55: 2.8,
  56: 3.3,
  57: 2.4,
  58: 2.9,
  59: 2.7,
  60: 2.0,
  61: 3.0,
  62: 2.2,
  63: 2.9,
  64: 2.9,
  65: 3.1,
  66: 3.0,
  67: 2.7,
  68: 2.2,
  69: 2.5,
  70: 3.2,
  71: 2.8,
  72: 2.5,
  73: 2.8,
  74: 2.9,
  75: 3.0,
  76: 2.8,
  77: 3.0,
  78: 2.9,
  79: 2.6,
  80: 2.4,
  81: 2.4,
  82: 2.7,
  83: 2.7,
  84: 3.0,
  85: 3.4,
  86: 3.1,
  87: 2.3,
  88: 3.0,
  89: 2.5,
  90: 2.6,
  91: 3.0,
  92: 2.6,
  93: 2.3,
  94: 2.7,
  95: 3.0,
  96: 2.9,
  97: 2.9,
  98: 2.5,
  99: 2.8,
  100: 3.3,
  101: 2.7,
  102: 3.0,
  103: 2.9,
  104: 3.0,
  105: 3.0,
  106: 2.5,
  107: 2.9,
  108: 2.5,
  109: 3.6,
  110: 3.2,
  111: 2.7,
  112: 3.0,
  113: 2.5,
  114: 2.8,
  115: 3.2,
  116: 3.0,
  117: 3.8,
  118: 2.6,
  119: 2.2,
  120: 3.2,
  121: 2.8,
  122: 2.8,
  123: 2.7,
  124: 3.3,
  125: 3.2,
  126: 2.8,
  127: 3.0,
  128: 2.8,
  129: 3.0,
  130: 2.8,
  131: 3.8,
  132: 2.8,
  133: 2.8,
  134: 2.6,
  135: 3.0,
  136: 3.4,
  137: 3.1,
  138: 3.0,
  139: 3.1,
  140: 3.1,
  141: 3.1,
  142: 2.7,
  143: 3.2,
  144: 3.3,
  145: 3.0,
  146: 2.5,
  147: 3.0,
  148: 3.4,
  149: 3.0},
 'petal_length': {0: 1.4,
  1: 1.4,
  2: 1.3,
  3: 1.5,
  4: 1.4,
  5: 1.7,
  6: 1.4,
  7: 1.5,
  8: 1.4,
  9: 1.5,
  10: 1.5,
  11: 1.6,
  12: 1.4,
  13: 1.1,
  14: 1.2,
  15: 1.5,
  16: 1.3,
  17: 1.4,
  18: 1.7,
  19: 1.5,
  20: 1.7,
  21: 1.5,
  22: 1.0,
  23: 1.7,
  24: 1.9,
  25: 1.6,
  26: 1.6,
  27: 1.5,
  28: 1.4,
  29: 1.6,
  30: 1.6,
  31: 1.5,
  32: 1.5,
  33: 1.4,
  34: 1.5,
  35: 1.2,
  36: 1.3,
  37: 1.4,
  38: 1.3,
  39: 1.5,
  40: 1.3,
  41: 1.3,
  42: 1.3,
  43: 1.6,
  44: 1.9,
  45: 1.4,
  46: 1.6,
  47: 1.4,
  48: 1.5,
  49: 1.4,
  50: 4.7,
  51: 4.5,
  52: 4.9,
  53: 4.0,
  54: 4.6,
  55: 4.5,
  56: 4.7,
  57: 3.3,
  58: 4.6,
  59: 3.9,
  60: 3.5,
  61: 4.2,
  62: 4.0,
  63: 4.7,
  64: 3.6,
  65: 4.4,
  66: 4.5,
  67: 4.1,
  68: 4.5,
  69: 3.9,
  70: 4.8,
  71: 4.0,
  72: 4.9,
  73: 4.7,
  74: 4.3,
  75: 4.4,
  76: 4.8,
  77: 5.0,
  78: 4.5,
  79: 3.5,
  80: 3.8,
  81: 3.7,
  82: 3.9,
  83: 5.1,
  84: 4.5,
  85: 4.5,
  86: 4.7,
  87: 4.4,
  88: 4.1,
  89: 4.0,
  90: 4.4,
  91: 4.6,
  92: 4.0,
  93: 3.3,
  94: 4.2,
  95: 4.2,
  96: 4.2,
  97: 4.3,
  98: 3.0,
  99: 4.1,
  100: 6.0,
  101: 5.1,
  102: 5.9,
  103: 5.6,
  104: 5.8,
  105: 6.6,
  106: 4.5,
  107: 6.3,
  108: 5.8,
  109: 6.1,
  110: 5.1,
  111: 5.3,
  112: 5.5,
  113: 5.0,
  114: 5.1,
  115: 5.3,
  116: 5.5,
  117: 6.7,
  118: 6.9,
  119: 5.0,
  120: 5.7,
  121: 4.9,
  122: 6.7,
  123: 4.9,
  124: 5.7,
  125: 6.0,
  126: 4.8,
  127: 4.9,
  128: 5.6,
  129: 5.8,
  130: 6.1,
  131: 6.4,
  132: 5.6,
  133: 5.1,
  134: 5.6,
  135: 6.1,
  136: 5.6,
  137: 5.5,
  138: 4.8,
  139: 5.4,
  140: 5.6,
  141: 5.1,
  142: 5.1,
  143: 5.9,
  144: 5.7,
  145: 5.2,
  146: 5.0,
  147: 5.2,
  148: 5.4,
  149: 5.1},
 'petal_width': {0: 0.2,
  1: 0.2,
  2: 0.2,
  3: 0.2,
  4: 0.2,
  5: 0.4,
  6: 0.3,
  7: 0.2,
  8: 0.2,
  9: 0.1,
  10: 0.2,
  11: 0.2,
  12: 0.1,
  13: 0.1,
  14: 0.2,
  15: 0.4,
  16: 0.4,
  17: 0.3,
  18: 0.3,
  19: 0.3,
  20: 0.2,
  21: 0.4,
  22: 0.2,
  23: 0.5,
  24: 0.2,
  25: 0.2,
  26: 0.4,
  27: 0.2,
  28: 0.2,
  29: 0.2,
  30: 0.2,
  31: 0.4,
  32: 0.1,
  33: 0.2,
  34: 0.2,
  35: 0.2,
  36: 0.2,
  37: 0.1,
  38: 0.2,
  39: 0.2,
  40: 0.3,
  41: 0.3,
  42: 0.2,
  43: 0.6,
  44: 0.4,
  45: 0.3,
  46: 0.2,
  47: 0.2,
  48: 0.2,
  49: 0.2,
  50: 1.4,
  51: 1.5,
  52: 1.5,
  53: 1.3,
  54: 1.5,
  55: 1.3,
  56: 1.6,
  57: 1.0,
  58: 1.3,
  59: 1.4,
  60: 1.0,
  61: 1.5,
  62: 1.0,
  63: 1.4,
  64: 1.3,
  65: 1.4,
  66: 1.5,
  67: 1.0,
  68: 1.5,
  69: 1.1,
  70: 1.8,
  71: 1.3,
  72: 1.5,
  73: 1.2,
  74: 1.3,
  75: 1.4,
  76: 1.4,
  77: 1.7,
  78: 1.5,
  79: 1.0,
  80: 1.1,
  81: 1.0,
  82: 1.2,
  83: 1.6,
  84: 1.5,
  85: 1.6,
  86: 1.5,
  87: 1.3,
  88: 1.3,
  89: 1.3,
  90: 1.2,
  91: 1.4,
  92: 1.2,
  93: 1.0,
  94: 1.3,
  95: 1.2,
  96: 1.3,
  97: 1.3,
  98: 1.1,
  99: 1.3,
  100: 2.5,
  101: 1.9,
  102: 2.1,
  103: 1.8,
  104: 2.2,
  105: 2.1,
  106: 1.7,
  107: 1.8,
  108: 1.8,
  109: 2.5,
  110: 2.0,
  111: 1.9,
  112: 2.1,
  113: 2.0,
  114: 2.4,
  115: 2.3,
  116: 1.8,
  117: 2.2,
  118: 2.3,
  119: 1.5,
  120: 2.3,
  121: 2.0,
  122: 2.0,
  123: 1.8,
  124: 2.1,
  125: 1.8,
  126: 1.8,
  127: 1.8,
  128: 2.1,
  129: 1.6,
  130: 1.9,
  131: 2.0,
  132: 2.2,
  133: 1.5,
  134: 1.4,
  135: 2.3,
  136: 2.4,
  137: 1.8,
  138: 1.8,
  139: 2.1,
  140: 2.4,
  141: 2.3,
  142: 1.9,
  143: 2.3,
  144: 2.5,
  145: 2.3,
  146: 1.9,
  147: 2.0,
  148: 2.3,
  149: 1.8},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa',
  6: 'setosa',
  7: 'setosa',
  8: 'setosa',
  9: 'setosa',
  10: 'setosa',
  11: 'setosa',
  12: 'setosa',
  13: 'setosa',
  14: 'setosa',
  15: 'setosa',
  16: 'setosa',
  17: 'setosa',
  18: 'setosa',
  19: 'setosa',
  20: 'setosa',
  21: 'setosa',
  22: 'setosa',
  23: 'setosa',
  24: 'setosa',
  25: 'setosa',
  26: 'setosa',
  27: 'setosa',
  28: 'setosa',
  29: 'setosa',
  30: 'setosa',
  31: 'setosa',
  32: 'setosa',
  33: 'setosa',
  34: 'setosa',
  35: 'setosa',
  36: 'setosa',
  37: 'setosa',
  38: 'setosa',
  39: 'setosa',
  40: 'setosa',
  41: 'setosa',
  42: 'setosa',
  43: 'setosa',
  44: 'setosa',
  45: 'setosa',
  46: 'setosa',
  47: 'setosa',
  48: 'setosa',
  49: 'setosa',
  50: 'versicolor',
  51: 'versicolor',
  52: 'versicolor',
  53: 'versicolor',
  54: 'versicolor',
  55: 'versicolor',
  56: 'versicolor',
  57: 'versicolor',
  58: 'versicolor',
  59: 'versicolor',
  60: 'versicolor',
  61: 'versicolor',
  62: 'versicolor',
  63: 'versicolor',
  64: 'versicolor',
  65: 'versicolor',
  66: 'versicolor',
  67: 'versicolor',
  68: 'versicolor',
  69: 'versicolor',
  70: 'versicolor',
  71: 'versicolor',
  72: 'versicolor',
  73: 'versicolor',
  74: 'versicolor',
  75: 'versicolor',
  76: 'versicolor',
  77: 'versicolor',
  78: 'versicolor',
  79: 'versicolor',
  80: 'versicolor',
  81: 'versicolor',
  82: 'versicolor',
  83: 'versicolor',
  84: 'versicolor',
  85: 'versicolor',
  86: 'versicolor',
  87: 'versicolor',
  88: 'versicolor',
  89: 'versicolor',
  90: 'versicolor',
  91: 'versicolor',
  92: 'versicolor',
  93: 'versicolor',
  94: 'versicolor',
  95: 'versicolor',
  96: 'versicolor',
  97: 'versicolor',
  98: 'versicolor',
  99: 'versicolor',
  100: 'virginica',
  101: 'virginica',
  102: 'virginica',
  103: 'virginica',
  104: 'virginica',
  105: 'virginica',
  106: 'virginica',
  107: 'virginica',
  108: 'virginica',
  109: 'virginica',
  110: 'virginica',
  111: 'virginica',
  112: 'virginica',
  113: 'virginica',
  114: 'virginica',
  115: 'virginica',
  116: 'virginica',
  117: 'virginica',
  118: 'virginica',
  119: 'virginica',
  120: 'virginica',
  121: 'virginica',
  122: 'virginica',
  123: 'virginica',
  124: 'virginica',
  125: 'virginica',
  126: 'virginica',
  127: 'virginica',
  128: 'virginica',
  129: 'virginica',
  130: 'virginica',
  131: 'virginica',
  132: 'virginica',
  133: 'virginica',
  134: 'virginica',
  135: 'virginica',
  136: 'virginica',
  137: 'virginica',
  138: 'virginica',
  139: 'virginica',
  140: 'virginica',
  141: 'virginica',
  142: 'virginica',
  143: 'virginica',
  144: 'virginica',
  145: 'virginica',
  146: 'virginica',
  147: 'virginica',
  148: 'virginica',
  149: 'virginica'}}

In [130]:
for data in iris_dic:
    print(data)

sepal_length
sepal_width
petal_length
petal_width
species

In [135]:
for group, value in iris_dic.items():
    print(group, value)
    print("\n")

sepal_length {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}


sepal_width {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}


petal_length {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}


petal_width {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}


species {0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}

In [138]:
for group, value in iris_dic.items():
    print('변수는',group)
    for key, data in value.items():
        print("{}:{}".format(key,data),end='\t')
    print("\n")

변수는 sepal_length
0:5.1	1:4.9	2:4.7	3:4.6	4:5.0	5:5.4	6:4.6	7:5.0	8:4.4	9:4.9	10:5.4	11:4.8	12:4.8	13:4.3	14:5.8	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9

변수는 sepal_width
0:3.5	1:3.0	2:3.2	3:3.1	4:3.6	5:3.9	6:3.4	7:3.4	8:2.9	9:3.1	10:3.7	11:3.4	12:3.0	13:3.0	14:4.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0

변수는 petal_length
0:1.4	1:1.4	2:1.3	3:1.5	4:1.4	5:1.7	6:1.4	7:1.5	8:1.4	9:1.5	10:1.5	11:1.6	12:1.4	13:1.1	14:1.2	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1

변수는 petal_width
0:0.2	1:0.2	2:0.2	3:0.2	4:0.2	5:0.4	6:0.3	7:0.2	8:0.2	9:0.1	10:0.2	11:0.2	12:0.1	13:0.1	14:0.2	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8

변수는 species
0:setosa	1:setosa	2:setosa	3:setosa	4:setosa	5:setosa	6:setosa	7:setosa	8:setosa	9:setosa	10:setosa	11:setosa	12:setosa	13:setosa	14:setosa	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica	118:virginica	119:virginica	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica

In [5]:
# iris_dic을 hdf5파일로 쓰기
import h5py
with h5py.File('data/ch09_iris.hdf5','w')as f:
    for group,value in iris_dic.items():
        grp=f.create_group(group)
        for key,data in value.items():
            grp.create_dataset(str(key),data=data)

NameError: name 'iris_dic' is not defined

In [ ]:
#iris_df르르 hdf5파일로 쓰기
iris_df.to_hdf('data/ch09_iris2.hdf5',key='iris')

## 5.2 pandas 라이브러리를 통해 hdf5 파일을 읽어오기

In [4]:
import pandas as pd
iris_df2=pd.read_hdf('data/ch09_iris2.hdf5',keys='iris')
iris_df2

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
#pandas 패키지를 이용한 csv파일 read
#%를 쓰면 유닉스 명령어를 사용할 수 잇다.
%ls data

 E 드라이브의 볼륨: 학생방
 볼륨 일련 번호: A86E-569B

 E:\kim_jiwon\src\08_python\data 디렉터리

2021-03-02  오후 05:56    <DIR>          .
2021-03-02  오후 05:56    <DIR>          ..
2021-02-26  오후 06:06    <DIR>          .ipynb_checkpoints
2021-02-26  오후 03:02                39 ch08_abc.txt
2021-02-26  오후 05:47               117 ch08_sample.txt
2021-03-02  오후 05:56                 0 ch09_customers.txt
2021-03-03  오전 09:45               800 ch09_iris.hdf5
2021-03-02  오후 02:46         1,069,192 ch09_iris2.hdf5
2021-03-02  오전 09:38               230 ch09_member.data
2021-02-26  오후 06:14               105 ch09_member.txt
2021-03-02  오전 10:09               152 ch09_member1.csv
2021-03-02  오후 12:15               137 ch09_member1.json
2021-03-02  오후 03:12                78 ch09_member2.csv
2021-03-02  오후 12:26               285 ch09_member2.json
2021-03-02  오후 03:12                93 ch09_member3.csv
2021-03-02  오전 11:21               146 ch09_member4.csv
2021-03-02  오전 11:08               119 ch09_member4_.csv
2021-03-02  오전 11:59                35 ch09_member5.csv
2021-02-26  오후 05:48               111 ch09_sample.txt
2021-03-02  오전 10:23                 0 새 텍스트 문서.txt
2021-01-02  오후 03:44             2,163 전국 평균 분양가격(2013년 9월부터 2015년 8월까지).csv
2021-01-02  오후 03:40           175,016 주택도시보증공사_전국 신규 민간 아파트 분양가격 동향_20200331.csv
2021-01-02  오후 03:44           162,510 주택도시보증공사_전국 평균 분양가격(2019년 12월).csv
              20개 파일           1,411,328 바이트
               3개 디렉터리  411,995,758,592 바이트 남음

In [ ]:
#member2,3

In [14]:
#utf8파일의 인코딩
import pandas as pd
members1 = pd.read_csv('data/ch09_member2.csv',encoding='utf8')
members

Empty DataFrame
Columns: [['홍길동', 20, 'kildong@naver.com', '서울'], ['홍길영', 35, 'kildong@naver.com', '부산']]
Index: []

In [15]:
#cp949파일의 인코딩
import pandas as pd
members2 = pd.read_csv('data/ch09_member3.csv',encoding='cp949')
members

Empty DataFrame
Columns: [['홍길동', 20, 'kildong@naver.com', '서울'], ['홍길영', 35, 'kildong@naver.com', '부산']]
Index: []

In [17]:
type(members1),type(members2)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

[[판다스](https://pandas.pydata.org)]
API reference, User Guide 참조

# 6절. 연습문제. 고객관리 애플리케이션

In [168]:
# 필요한 클래스나 함수들 정의
class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dict (self): # csv파일 저장시 필요
        return {"name":self.name, "phone":self.phone,
                 "email":self.email, "age":self.age,
                 "grade":self.grade, "etc":self.etc}
    def to_list_style(self): # txt파일 저장시 필요 홍길동 9999-9999 e@e.com
        temp = [self.name, self.phone, self.email, str(self.age),
                str(self.grade), self.etc,'\n']
        return ' '.join(temp)
    def __str__(self):
        return "{:>5}\t{:3}\t{:15}\t{:15}\t{:3}\t{}".format('*'*self.grade, 
                self.name, self.phone, self.email, self.age, self.etc)

In [169]:
# txt파일 내용: 홍길동 010-9999-9999 h@hong.com 20 5 열심히 
# txt파일의 내용을 Customer 객체로 반환
# row는 txt파일 한 줄 읽은 내용 :홍길동 010-9999-9999 h@hong.com 20 5 열심히 
def to_customer(row):
    data = row.strip().split(' ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    etc = data[5]
    return Customer(name, phone, email, age, grade, etc)

In [170]:
# 0. 실행하면서 customers 파일의 내용 load
def load_customers():
    customer_list = []
    try:
        with open('data/ch09_customers.txt','r', encoding="UTF8") as f:
            lines = f.readlines()
            for row in lines:
                customer = to_customer(row)
                customer_list.append(customer)
        print('데이터가 로드 되었습니다')
    except FileNotFoundError:
        print('데이터 파일이 없어 초기화하였습니다.')
        f = open('data/ch09_customers.txt','w', encoding='UTF8')
        f.write('')
        f.close()
    return customer_list

In [171]:
for cust in load_customers():
    print(cust)

데이터 파일이 없어 초기화하였습니다.

In [175]:
# 1. 입력
def insert_customer_info():
    name = input('이름 : ')
    phone = input("전화번호 : ")
    email = input("이메일 : ")
    try:
        age = int(input("나이 : "))
    except ValueError as e:
        print('유효하지 않은 나이  입력시 나이는 0으로 초기화')
        age = 0
    try:
        grade = int(input("고객등급(1~5) : "))
        if grade < 1 :
            grade = 1
        if grade > 5 :
            greade = 5
    except ValueError as e:
        print('유효하지 않은 등급을 입력시 등급은 1로 초기화')
        grade = 1
    etc = input("기타 정보 : ")
    customer = Customer(name, phone, email, age, grade, etc)
    return customer

In [176]:
#2 전체 출력
def print_customers(customers_list):
    print("="*70)
    print("{:^70}".format("고객정보"))
    print("="*70)
    print("{}\t{}\t{}\t\t{}\t\t{}\t{}".format("grade","이름","전화","메일","나이","기타"))
    print("="*70)
    for customer in customer_list:
        print(customer)
    print("="*70)

In [177]:
# 3. 삭제
def delete_customer(customer_list):
    name = input('삭제할 이름은? ')
    delete_flag = False
    delete_idx = []
    for i, customer in enumerate(customer_list):
        # 삭제할 이름과 같은 데이터의 인덱스를 delete_idx에 추가(동명이인 고려)
        if customer.name == name: 
            delete_idx.append(i)
    #끝 idx부터 지워야 동명이인일 경우 제대로 작동
    for i in range(len(delete_idx)-1,-1,-1):
        del customer_list[delete_idx[i]]
        delete_flag = True
    if delete_flag:
        print('\"{}\"님을 삭제하였습니다'.format(name))
    else:
        print('\"{}\"님이 데이터에 존재하지 않습니다'.format(name))

In [178]:
# 4. 이름찾기(동명이인도 모두 검색)
def search_customer(customer_list):
    name = input('검색할 이름은? ')
    search_result = []
    for customer in customer_list:
        if customer.name == name:
            search_result.append(customer)
    if len(search_result)==0:
        print('검색한 고객이 데이터에 존재하지 않습니다')
    else:
        for customer in search_result:
            print(customer)

In [179]:
# 5. 내보내기(CSV)
def save_customer_csv(customer_list):
    import csv
    fieldnames = ["name","phone","email","age","grade","etc"]
    customer_dict_list = [] 
    for customer in customer_list:
        customer_dict_list.append(customer.as_dict())
    filename = input('저장할 파일 이름은?')
    try:
        with open("data/"+filename, "w", newline='', encoding="UTF-8") as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader()
            dict_writer.writerows(customer_dict_list)
    except Exception as e:
        print('데이터 내보내기 예외 :', e)

In [180]:
# 5. 종료하기 전 txt파일로 저장
def save_customer_txt(customer_list):
    customer_text_list = [] 
    for customer in customer_list:
        customer_text_list.append(customer.to_list_style())
    try:
        with open("data/ch09_customers.txt", "w", encoding="UTF-8") as f:
            f.writelines(customer_text_list)
    except Exception as e:
        print('데이터 내보내기 예외 :', e)

In [181]:
def main():
    customer_list = load_customers()
    while True:
        print("1:입력","2:전체출력","3:삭제", "4:이름찾기","5:내보내기(CSV)", 
              "9:종료", sep="|", end="")
        menu = int(input("메뉴 선택 : "))
        if menu == 1:
            customer = insert_customer_info()
            customer_list.append(customer)
        elif menu == 2:
            print_customers(customer_list)
        elif menu == 3:
            delete_customer(customer_list)
        elif menu == 4:
            search_customer(customer_list)
        elif menu == 5:
            save_customer_csv(customer_list)
        elif menu == 9:
            save_customer_txt(customer_list)
            break

In [184]:
if __name__=='__main__':
    main()

데이터가 로드 되었습니다
1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료메뉴 선택 : 1
이름 : 김
전화번호 : 01099998888
이메일 : zz@naver.com
나이 : 28
고객등급(1~5) : 1
기타 정보 : x
1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료메뉴 선택 : 2
======================================================================
                                 고객정보
======================================================================
grade	이름	전화		메일		나이	기타
======================================================================

NameError: name 'customer_list' is not defined

In [2]:
#마지막 사지선다 문제
#1.open함수에 대해 잘못 설명한 것:3번
#2.바이너리 모드이므로 wb이다.:4번
#3. 1번