In [1]:
#시작 전 설정
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline 
%config InlineBackend.figure_format='retina'
import pandas as pd
import numpy as np
#원하는 한글폰트 지정
plt.rc("font",family="Malgun Gothic")
plt.rc("axes",unicode_minus=False) #Y축
#경고메세지 안보이게
import warnings
warnings.filterwarnings(action='ignore')
import seaborn as sns
import folium #지도시각화를 위한
sns.color_palette("rocket", as_cmap=True)

In [2]:
#cond1.T

In [3]:
import pandas as pd
cond=pd.read_excel('E:/kim_jiwon/src/Project_02/data/1_국민관심질병성별입원외래별현황(진료년월).xls')
cond.columns=cond.loc[6,:]
cond1=cond.iloc[5,:].to_frame()
cond2=cond.iloc[7:14,:]
cond3=pd.concat([cond1.T,cond2],axis=0)

cond3

6,우울증,여,외래,"207,345","337,374","338,475","17,288,587","12,912,080","191,281","277,814",...,"236,325","392,866","392,906","21,823,288","16,695,557","228,324","354,540","354,682","19,623,837","14,993,148"
5,우울증,여,소계,"208,357","366,079","340,481","21,093,595","15,796,551","192,183","301,175",...,"237,220","415,934","394,809","25,079,679","19,176,781","229,130","376,625","356,359","22,381,833","17,086,305"
7,우울증,여,입원,"1,619","28,705","2,006","3,805,008","2,884,471","1,310","23,361",...,"1,430","23,068","1,903","3,256,390","2,481,224","1,276","22,085","1,677","2,757,995","2,093,156"

In [5]:
cond=cond3
cond.reset_index().iloc[:,2:]
#cond.환자수
cond1=cond[['성별구분','입원외래구분']]
cond2=cond.환자수
cond3=pd.concat([cond1,cond2],axis=1)
cond3.index.name = None
cond3.columns = [''] * len(cond3.columns)
cond3

KeyError: "None of [Index(['성별구분', '입원외래구분'], dtype='object', name=6)] are in the [columns]"

In [6]:
cond3.columns=cond3.iloc[0,]
cond4=cond3.iloc[1:,].reset_index().iloc[:,1:]
#cond4.iloc[1:,1:].replace(',','',regex=True,replale)
cond4.replace(',','', regex=True, inplace=True)
cond4.iloc[1:,2:].astype(int)
cond4
# cond4 = 우울증에 걸린 사람들 수

5,우울증,여,소계,"208,357","366,079","340,481","21,093,595","15,796,551","192,183","301,175",...,"237,220","415,934","394,809","25,079,679","19,176,781","229,130","376,625","356,359","22,381,833","17,086,305"
0,우울증,여,입원,1619,28705,2006,3805008,2884471,1310,23361,...,1430,23068,1903,3256390,2481224,1276,22085,1677,2757995,2093156

In [7]:
#cond4.columns[0].rename
cond4.rename(columns={np.nan:'성별', '진료년월':'유형'},inplace=True)
cond4.index.name = None
cond4.set_index('성별')

KeyError: "None of ['성별'] are in the columns"

In [8]:
cond4.reset_index()

5,index,우울증,여,소계,"208,357","366,079","340,481","21,093,595","15,796,551","192,183",...,"237,220","415,934","394,809","25,079,679","19,176,781","229,130","376,625","356,359","22,381,833","17,086,305"
0,0,우울증,여,입원,1619,28705,2006,3805008,2884471,1310,...,1430,23068,1903,3256390,2481224,1276,22085,1677,2757995,2093156

In [9]:
cond4.reset_index()

5,index,우울증,여,소계,"208,357","366,079","340,481","21,093,595","15,796,551","192,183",...,"237,220","415,934","394,809","25,079,679","19,176,781","229,130","376,625","356,359","22,381,833","17,086,305"
0,0,우울증,여,입원,1619,28705,2006,3805008,2884471,1310,...,1430,23068,1903,3256390,2481224,1276,22085,1677,2757995,2093156

In [10]:
a_total=cond4.iloc[0,2:].astype(int)
m_total=cond4.iloc[1,2:].astype(int)
w_total=cond4.iloc[4,2:].astype(int)

a_total.plot()
m_total.plot()
w_total.plot()

ValueError: invalid literal for int() with base 10: '입원'

In [ ]:
g=sns.FacetGrid(cond4,col="species",hue="species")
g.map(plt.hist,"sepal_length")

In [ ]:
m_total=cond4.loc[1,]
w_total=cond4.loc[4,]

#a_total.plot()
cond4.loc[0,1:]

#a_total=sns.barplot(data=a_total, x="",y="주민등록인구수", estimator=sum).set_title("ddd")

#save_img=pop_15to19plot.get_figure()
#save_img.savefig('E:/kim_jiwon/src/project_01/data/img/population_15_19.png')

In [ ]:
plt.figure(figsize=(18,3))
sns.heatmap(cond4.loc[[1],"2019년 01월":"2020년 08월"].astype(int), annot=True, cmap="Blues",
           fmt=".0f", annot_kws={'size':8})

# 주관적 정신건강 수준

In [ ]:
import pandas as pd
mental=pd.read_csv('E:/kim_jiwon/src/Project_02/data/주관적인_정신건강_수준_20210412155804.csv',sep=',',encoding='cp949')
mental

# 지출목적별 소비자물가지수

In [ ]:
import pandas as pd
cpi=pd.read_csv('E:/kim_jiwon/src/Project_02/data/지출목적별_소비자물가지수_품목_포함__2015100__20210412154851.csv',sep=',',encoding='cp949')
cpi1=cpi.iloc[:,1].to_frame()
cpi2=cpi.loc[:,'2018. 01':]
cpi3=pd.concat([cpi1,cpi2],axis=1)
cpi3

#cpi

In [ ]:
cpi3=cpi3.melt(id_vars="지출목적별",
        var_name="연도월",
        value_name="소비자물가지수")
cpi3

In [ ]:
cpi3.info(0)

In [ ]:
plt.figure(figsize=(18,8))
sns.pointplot(x="연도월", y="소비자물가지수", hue="지출목적별", data=cpi3)

In [ ]:
cpi3.pivot_table(index='연도월',columns='지출목적별',values='소비자물가지수').plot(figsize=(16,8))
plt.legend(bbox_to_anchor=(1.01,1),loc=0,borderaxespad=0)
plt.savefig('E:/kim_jiwon/src/project_02/img/cpi.png')