# ch03 데이터구조

# 1절 리스트
## 1.1 리스트 만들기
-[]를 이용해서 만들며, 여러개 값을 하나의 변수에 저장, 관리할 수 있음<br>
-인덱스: 각 요소의 위치, 인덱스는 0부터 시작. 맨마지막인덱스는 -1<br>
-슬라이싱: 부분 데이터셋을 뽑아내는 것. 인덱스를 이용해서 쓰기와 읽기를 지원

In [2]:
fruits=['banana','apple','orange','grape']
type(fruits)

list

In [3]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [4]:
print(fruits[0])

banana

In [5]:
for fruit in fruits:
    print(fruit)

banana
apple
orange
grape

In [8]:
#range(from,to,by) ; from부터 to 바로앞까지 by씩 증가되면서 만들어진 list
#from 생략시 0부터/by 생략시 1씩

list(range(6))

[0, 1, 2, 3, 4, 5]

In [9]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [10]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [13]:
# 0번째: banana... Len(fruits: fruits 요소의 갯수)
for idx in range(len(fruits)):
    print('{}번째:{}'.format(idx,fruits[idx]))

0번째:banana
1번째:apple
2번째:orange
3번째:grape

In [17]:
numbers=[1,2,3,True,'5']
numbers

[1, 2, 3, True, '5']

In [20]:
#2차원 리스트
numbers_2d=[[1,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [26]:
print(numbers_2d[1])
print(numbers_2d[1][0])

[10, 20, 30, 40, 50]
10

In [33]:
for row in numbers_2d:
    for data in row:
        print(data,end='\t')
    print() #개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [44]:
for i in range(len(numbers_2d)): #len(numbers_2d)=4
    for j in range(len(numbers_2d[i])) :
        print("{}.{}열: {:>2}".format(i,j,numbers_2d[i][j]),end='\t')
    print()

0.0열:  1	0.1열:  2	0.2열:  3	0.3열:  4	0.4열:  5
1.0열: 10	1.1열: 20	1.2열: 30	1.3열: 40	1.4열: 50
2.0열:  1	2.1열:  3	2.2열:  5	2.3열:  7	2.4열:  9
3.0열:  2	3.1열:  4	3.2열:  6	3.3열:  8	3.4열: 10

## 1.2 기본 정보 조회

In [1]:
numbers=[1,2,3,4,5]
numbers_2d=[[1,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]

In [4]:
#요소 수
print('numbers의 요소 수: ',len(numbers))
print('numbers-2d의 요소 수: ',len(numbers_2d)) #리스트 안의 리스트 수를 세어버린다.
print('numbers-2d[0]의 요소 수: ',len(numbers_2d[0]))

numbers의 요소 수:  5
numbers-2d의 요소 수:  4
numbers-2d[0]의 요소 수:  5

In [7]:
#최소값 min, 최대값 max
min(numbers),max(numbers)

(1, 5)

In [9]:
# 2차원 리스트에서는 max() 함수는 부분 리스트 중 첫 요소가 가장 큰 값인 리스트를 반환.
#min()함수는 부분 리스트 중 첫 요소가 가장 작은 값을 갖는 리스트를 반환.

min(numbers_2d),max(numbers_2d)

([1, 2, 3, 4, 5], [10, 20, 30, 40, 50])

In [ ]:
#요소 추가, 요소 삭제

In [10]:
#+ 두 리스트를 연결
# * 리스트를 곱한 수만큼 반복
# append() 요소를 맨 뒤에 추가
# extend()리스트를 요소별로 맨 뒤에 추가
#insert() 지정된 index 위치에 삽입

In [13]:
numbers=[1,2,3,4,5]
numbers=numbers+numbers
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
print('ABC'*3)

ABCABCABC

In [15]:
#append() 함수 이용
numbers=[1,2,3]
print(numbers*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
#extend()
numbers=[1,2,3]
num = [4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [21]:
numbers.extend('Hello')
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [25]:
#insert(idx,추가할 내용):idx번째 인덱스에 추가할 내용 삽입
numbers=[1,2,3,4,5]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱
-count() 리스트에서 데스트의 갯수 반환<br>
-index() 해당 요소의 위치 반환<br>
-[index]: 인덱스를 이용한 접근<br>

In [29]:
numbers=[1,2,3,[1,2,3],1,2,3]
numbers_2d=[[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [30]:
numbers.count(2)

2

In [31]:
numbers.count(9)

0

In [32]:
numbers.count([1,2,3])

1

In [33]:
numbers_2d.count(2)

0

In [35]:
numbers_2d.count([1,2,3])

2

In [37]:
#0번째 인덱스부터 처음 나오는 2의 인덱스
numbers.index(2)

1

In [38]:
#번째 인덱스 이후부터 처음 나오는 '2'의 인덱스를 반환
numbers.index(2, 4)

5

In [41]:
print(numbers.count(9))
#print(numbers.index(9)) #index 함수는 없는 값을 찾으려고 하면 에러난다.
#numbers[7]

0

## 1.5 원하는 리스트 내용만 추출:리스트 슬라이싱-인덱스보다 많이 씀
-[from_to_by] from부터 to 까지 by번 증가하는 index아이템 추출. 인덱스는 음수 가능.

In [47]:
numbers=[1,2,3,4,5]
numbers[2:9] # 2부터 9번 인덱스 바로 앞까지(해당 인덱스 없을 시 끝까지)

[3, 4, 5]

In [48]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [49]:
numbers[::]

[1, 2, 3, 4, 5]

In [52]:
numbers[-5:-1]

[1, 2, 3, 4]

In [54]:
numbers[-1:-5] #-1부터 -5 바로 전까지 by(1)씩 인덱스를 전진해야하므로 아무 값도 나오지 않게 된다.

[]

In [ ]:
numbers_2d = [[1,2,3],[10,20,30],[11,12,13],[21,22,23]]
numbers_2d[1:3]

In [55]:
numbers_2d[0][1:3]

[2, 3]

In [59]:
#람다식을 이용해서 list의 원하는 데이터 엑세스
numbers=[1,3,4,9,10,12,13,18,19,20]
#모든 데이터 다 가져오기
#for data in numbers:
#print(data)
[data for data in numbers]

[1, 3, 4, 9, 10, 12, 13, 18, 19, 20]

In [61]:
# 짝수 데이터만 가져오기
#짝수 데이터만 가져오기
#for x in numbers:
# if x%2 ==0;
#prinx(x)

[x for x in numbers if x%2==0]

[4, 10, 12, 18, 20]

In [63]:
# 10 이상의 데이터만 가져오기
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [66]:
#과일의 글씨가 5글자 이상인 과일만 추출
fruits=['orange','apple','mango','kiwi']
[f for f in fruits if len(f)>=5]

['orange', 'apple', 'mango']

In [72]:
# 리스트 값의 제곱을 추출하라.
L=[1,2,3,4,5]
[a*a for a in L]

[1, 4, 9, 16, 25]

In [76]:
# 리스트 값의 세제곱을 추출하라.
L=[1,2,3,4,5]
[a**3 for a in L]

[1, 8, 27, 64, 125]

In [1]:
# 리스트 값의 두배의 수를 추출하라.
L=[1,2,3,4,5]
[a*2 for a in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [9]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
#하나 바꾸기
numbers[2]=222
print(numbers)
#부분 리스트를 통채로 바꿈(by 없이 슬라이싱)
numbers[0:5]=[999,999,999]
print(numbers)
numbers[0:5]=[111,111,111,111,111,111,111]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]
[999, 999, 999, 5, 6, 7, 8, 9]
[111, 111, 111, 111, 111, 111, 111, 7, 8, 9]

In [10]:
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[0:5]=numbers[5:]
print(numbers)

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [14]:
#슬라이싱에서 by를 추가
numbers=[0]*10
print('수정전:',numbers)
numbers[::2]=[99,99,99,99,99]
print('수정후:',numbers)

수정전: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후: [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

In [17]:
#슬라이싱에서 by가 포함될 경우 바꾸려는 값의 갯수가 맞아야 함.
#numbers[::2]=[11,11,11]
#print(numbers) #오류 발생

## 1.7 삭제하기
-pop() : 가장 마지막 요소가 반환되고 삭제. pop(n)은 n번째가 반환되고 삭제. 인덱스 삭제 <br>
-remove() : remove(data) 해당 값의 데이터가 삭제<br>
-del : del xx[n] <br>

In [18]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
print(numbers.pop(2))
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [20]:
numbers_2d=[[1,2,3],[10,20,30],[100,100,100]]
print('pop전',numbers_2d)
print(numbers_2d.pop())
print('pop후',numbers_2d)

pop전 [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop후 [[1, 2, 3], [10, 20, 30]]

In [21]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers.remove(5))
print(numbers)

None
[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [22]:
# print(numbers.remove(5))
# 없는 값은 remove시 에러발생

In [23]:
print(numbers)
del numbers[2] # 변수삭제
print(numbers)

[0, 1, 2, 3, 4, 6, 7, 8, 9]
[0, 1, 3, 4, 6, 7, 8, 9]

In [24]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined

In [28]:
numbers=[0,1,2,3,4]
print(numbers)
numbers.clear()
print(numbers)
numbers=[0,1,2,3,4]
print(numbers)
del numbers[:]
print(numbers)

[0, 1, 2, 3, 4]
[]
[0, 1, 2, 3, 4]
[]

## 1.8 정렬하기

In [43]:
numbers=[9,5,1,0,6,4,2,8]
print(numbers)
numbers.sort() #기본정렬 오름차순.sort 실행 후 리스트가 바뀜
print(numbers)
numbers[::-1] #내림차순처럼 보이지만 이것이 저장이 되지는 않는다.

[9, 5, 1, 0, 6, 4, 2, 8]
[0, 1, 2, 4, 5, 6, 8, 9]

[9, 8, 6, 5, 4, 2, 1, 0]

In [45]:
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[9, 8, 6, 5, 4, 2, 1, 0]
[9, 8, 6, 5, 4, 2, 1, 0]

In [50]:
numbers=numbers[::-1] #reverse()함수와 같은 명령
numbers

[10, 7, 6, 4, 2]

## 1.9 리스트 복제

In [52]:
numbers=[6,2,7,4,10]
new_numbers=numbers # 정렬 전 데이터를 new_numbers로 옮기려고 하고있지만,
#위와 같은 선언은 같은 주소 위치를 가리키게 되는 것이다.
numbers.sort() #numbers는 정렬된 데이터로.
print('정렬 전 데이터:',new_numbers)
print('정렬 후 데이터:',numbers)
print('new_numbers 주소:',id(new_numbers))
print('numbers 주소:',id(numbers))
#겱국 같은 위치를 가리켜 같은 결과가 나오게 된다.

정렬 전 데이터: [2, 4, 6, 7, 10]
정렬 후 데이터: [2, 4, 6, 7, 10]
new_numbers 주소: 1756068305152
numbers 주소: 1756068305152

In [53]:
# 복제
numbers=[6,2,7,4,10]
new_numbers=numbers.copy() #new_numbers에 numbers 복제
numbers.sort() #numbers는 정렬된 데이터로.
print('정렬 전 데이터:',new_numbers)
print('정렬 후 데이터:',numbers)
print('new_numbers 주소:',id(new_numbers))
print('numbers 주소:',id(numbers))

정렬 전 데이터: [6, 2, 7, 4, 10]
정렬 후 데이터: [2, 4, 6, 7, 10]
new_numbers 주소: 1756047246016
numbers 주소: 1756068173312

In [55]:
city=['서울','부산','대구','인천','광주','울산']
city.sort()
city

['광주', '대구', '부산', '서울', '울산', '인천']

In [56]:
' '.join(city)

'광주 대구 부산 서울 울산 인천'

# 2절.튜플
-리스트와 유사하지만 읽기 전용. 수정이 필요 없는 데이터타입에서 사용. <br>
-수정이 불가하므로 튜플에 데이터 추가, 수정, 삭제 불가. 제공괴는 함수도 많지 않다.<br>
-소괄호를 이용해서 생성.

In [57]:
city=('서울','부산','인천','대구','대전')
type(city)

tuple

In [59]:
'-'.join(city)

'서울-부산-인천-대구-대전'

In [60]:
l=['서울'] #요소가 하나 있는 리스트
print(type(l))
print(l)

<class 'list'>
['서울']

In [64]:
#city=('서울') #요소가 하나 있는 튜플(?)
#요소가 하나 있는 튜플은 그냥 소괄호가 없는것과 똑같이 처리. 이렇게 만들면 안되게 된다.
city=('서울',) #쉼포하나를 끝에 넣을 것.
print(type(city))
print(city)

<class 'tuple'>
('서울',)

In [66]:
numbers=(1,2,3)
min(numbers),max(numbers),len(numbers)

(1, 3, 3)

In [67]:
numbers=(1,2,1,2,3)
numbers.count(2)

2

In [68]:
numbers.index(3) #3인덱스의 값을 반환

4

In [71]:
data=(0,1,2,3,4,(5,6))
data[2:5]
#data.index[9]

(2, 3, 4)

In [74]:
data[5:9:2]

((5, 6),)

In [73]:
data[-1:-5:-1]

((5, 6), 4, 3, 2)

In [75]:
data=((100,0,0),(10,20,30))
max(data) #첫 요소가 가장 큰것을 뿌림. min도 마찬가지

(100, 0, 0)

In [77]:
data=(1,2,3)
data+data

(1, 2, 3, 1, 2, 3)

In [78]:
data=('서울',2,True)
data*3

('서울', 2, True, '서울', 2, True, '서울', 2, True)

In [79]:
del data

# 3절 딕셔너리
-중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조<br>
-키는 유일한 값(중복허용 안함). 키에 리스트는 사용 불가. 키에 튜플은 사용가능<br>
-값은 중복사용가능. 모든 데이터 타입이 가능<br>
-없는 키의 값을 참조하면 에러발생<br>
-인덱스를 이용한 참조는 지원하지 않음.
-자바에서의 해시맵과 비슷하다.

In [80]:
dic={'key1':'value',
    'key2':'value'}
len(dic)

2

In [83]:
my_favorite={'fruit':'apple','number':1,'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [84]:
my_favorite.get('fruit')

'apple'

In [85]:
my_favorite['fruit']

'apple'

In [86]:
#my_favorite['people'] #없는 아이 참조하면 에러발생.
#my_favorite[0] #인덱스 참조도 지원 안함

KeyError: 'people'

In [87]:
my_favorite={'fruit':'apple','number':1,'sport':'golf'}
my_favorite['fruit']='banana'
my_favorite

{'fruit': 'banana', 'number': 1, 'sport': 'golf'}

In [94]:
#키: answk, tntwk, xbvmf. wndqhr qnfrk
#값: 모든 문자 타입, 중복 가능
my_dic1={1:'hello',2:'world',2:'python'}
my_dic1

{1: 'hello', 2: 'python'}

In [92]:
my_dic1['people']=['홍길동','홍길순'] #my_dic1에 요소 추가
my_dic1['study']=['파이썬','하둡']
my_dic1

{1: 'hello', 2: 'python', 'people': ['홍길동', '홍길순'], 'study': ['파이썬', '하둡']}

In [91]:
# my_dic1.append({'people'=['홍길동','홍길순']}) 불가능

SyntaxError: invalid syntax (<ipython-input-91-12397e710696>, line 1)

In [93]:
del my_dic1['study']
my_dic1

{1: 'hello', 2: 'python', 'people': ['홍길동', '홍길순']}

In [97]:
my_dic2={'name':'Hong','name':'Kildong','age':30}
my_dic2

{'name': 'Kildong', 'age': 30}

In [100]:
my_dic3={1:'Hello',True:'world',False:"python",0:'hadoop'}
my_dic3

{1: 'world', False: 'hadoop'}

In [111]:
my_list=['hong',25,'010-9999-9999']
my_tupple=('hong',25,'010-9999-9999')
for data in my_list:
    print(data,end='\t')
print()
for idx in range(len(my_list)):
    print("{}번째 데이터 {}".format(idx,my_tupple[idx]),end='\t')

hong	25	010-9999-9999
0번째 데이터 hong	1번째 데이터 25	2번째 데이터 010-9999-9999

In [113]:
my_dic={'name':'홍길동','age':25,'tel':'010-9999-9999'}
for data in my_dic:
    print(data,end='\t')

name	age	tel

In [114]:
my_dic.values() #값들만
my_dic.items() #튜플로 이루어진 키, 값

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [116]:
for key in my_dic:
    print(key,end='\t')

name	age	tel

In [118]:
for key in my_dic.keys():
    print(key,end='\t')

name	age	tel

In [119]:
for key in my_dic.values():
    print(key,end='\t')

홍길동	25	010-9999-9999

In [126]:
for key,value in my_dic.items():
    print("{}은 {}".format(key,value),end='\t')

name은 홍길동	age은 25	tel은 010-9999-9999

In [132]:
my_favorite={'fruit':'apple','number':1,'sport':'golf'}
'golf' in my_favorite

False

In [131]:
'sport' in my_favorite

True

In [133]:
#복제와 할당
my_favorite
#할당
new_my_favorite=my_favorite
print('new_my_favorite :',new_my_favorite)
print('my_favorite :',my_favorite)

new_my_favorite : {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite : {'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [135]:
my_favorite['number']='다바뀜'
print('new_my_favorite :',new_my_favorite)
print('my_favorite :',my_favorite)

new_my_favorite : {'fruit': 'apple', 'number': '다바뀜', 'sport': 'golf'}
my_favorite : {'fruit': 'apple', 'number': '다바뀜', 'sport': 'golf'}

In [136]:
#복제
new_my_favorite=my_favorite.copy()
print('new_my_favorite :',new_my_favorite)
print('my_favorite :',my_favorite)

new_my_favorite : {'fruit': 'apple', 'number': '다바뀜', 'sport': 'golf'}
my_favorite : {'fruit': 'apple', 'number': '다바뀜', 'sport': 'golf'}

In [139]:
my_favorite['number']=9
print('new_my_favorite :',new_my_favorite)
print('my_favorite :',my_favorite)

new_my_favorite : {'fruit': 'apple', 'number': '다바뀜', 'sport': 'golf'}
my_favorite : {'fruit': 'apple', 'number': 9, 'sport': 'golf'}

# 4절. 셋
-중복 허용하지 않는 집합(순서x)<br>
-중괄호({})나 set 함수를 이용해서 생성.<br>
;set(딕셔너리타입의 변수): 딕셔너리변수의 키만 셋에 추가<br>
-집합연산자(교집합&합집합|차집합)<br>

In [140]:
fruits={'apple','orange','banana'}
fruits=

SyntaxError: invalid syntax (<ipython-input-140-7e5dda8f909b>, line 2)

In [141]:
s1=set([1,2,3,1])
s1

{1, 2, 3}

In [142]:
s1.add(4)
s1.add(1)
s1

{1, 2, 3, 4}

In [143]:
s1.add((5,6,7,8,9))
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 4}

In [144]:
s1.add([10,11]) # add함수는 list인수를 받지 않음

TypeError: unhashable type: 'list'

In [147]:
s1={1,2,3,4}
s1.update([5,6,7,8,9])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [151]:
s1.update({'name':'kildong'}) #딕셔너리는 키값만 추가
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'name'}

In [152]:
s1.remove('name') #특정 요소 삭제(없는 데이터일 경우에는 에러 발생
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [153]:
s1={0,False,True,1} #false와 0, true와 1을 같은 값으로 간주.
s1

{0, True}

In [154]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1,s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [157]:
#합집합
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [158]:
#교집합
s1&s2

{4, 5, 6}

In [159]:
#차집합
s1-s2

{1, 2, 3}

In [161]:
names={'kildong','kilja','sunja'}
for name in names:
    print(name,end='\t')

sunja	kilja	kildong

# 5절. enumerate
-반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결

In [165]:

list(enumerate(names))

[(0, 'sunja'), (1, 'kilja'), (2, 'kildong')]

In [164]:
for idx, name in enumerate(names):
    print("{}번째 이름: {}".format(idx,name))

0번째 이름: sunja
1번째 이름: kilja
2번째 이름: kildong

In [170]:
L=['길자','순자','길동']
for idx in range(len(L)):
    print("{}번째 이름은 {}".format(idx,L[idx]))

0번째 이름은 길자
1번째 이름은 순자
2번째 이름은 길동

In [172]:
for idx,name in enumerate(L):
    print("{}번째: {}".format(idx,name))

0번째: 길자
1번째: 순자
2번째: 길동

In [182]:
dic = {"name":"홍길동","age":35,"address":"마포"}
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '마포'))]

In [183]:
for idx,(key,value) in enumerate(dic.items()):
    print("{}번째 키는 {},값은 {}".idx,key,value)

AttributeError: 'str' object has no attribute 'idx'

In [186]:
#연습문제 1
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [187]:
#2
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers.append([200,300,400,500])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500]]

In [189]:
#3
numbers[0:5]

[1, 2, 3, 4, 5]

In [191]:
#4
numbers[0::2] #짝수번째...?

[1, 3, 5, 7, 9, [200, 300, 400, 500]]

In [204]:
#5
numbers[::2]=0,0,0,0,0,0
numbers

6

In [214]:
#6
numbers
numbers[::-1]

[0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [221]:
#7
member_info = {"name":"홍길동", "age":20,"address":"서울시 마포구","score":90}
member_info['address']

'서울시 마포구'

In [234]:
#8
member_info = {"name":"홍길동", "age":20,"address":"서울시 마포구","score":90}
#member.pop('score') 이거 되나본데?
print(member_info['score'])
del(member_info['score'])
member_info

90

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [225]:
member_info = {"name":"홍길동", "age":20,"address":"서울시 마포구","score":90}
member_info['address']='서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

In [235]:
member_info.values()

dict_values(['홍길동', 20, '서울시 마포구'])

In [ ]:
1

In [ ]:
2

In [ ]:
3

4

In [236]:
#5
numbers = list(range(10))
numbers[::2]= [0]*len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]