#  1절. SQLite 데이터베이스 연결

## 1.1 SQLite와 파이썬
- SQLite 데이터페이스는 별도의 서버 프로세스 없이 SQL을 사용하여 DB엑세스할 수 있도록 만든 간단한 **디스크 기반 데이터베이스를 제공** 하는 C 라이브러리

- SQLite 는 프로토타입(시제품 나오기 전 제품)을 만들때까지 사용. 정식제품은 오라클이나 다른 데이터베이스를 이식

- db browser for sqlite https://sqlitebrowser.org/dl/

In [1]:
import sqlite3
sqlite3.sqlite_version

'3.33.0'

## 1.2 데이터베이스 연결

In [11]:
# DB 연결 객체 생성시, 파일이 없으면 파일 생성, 파일이 있으면 그 파일 연결
conn = sqlite3.connect('data/ch10_example.db')

In [7]:
conn.close()

In [12]:
#커서 객ㅊ 반환. 커서는 SQL문을 실행시키고 결과 데이터를 조회하는데 사용
cursor = conn.cursor()

In [13]:
cursor.execute("""
        CREATE TABLE MEMBER(
            NAME TEXT,
            AGE INT,
            EMAIL TEXT
        )
""")

In [14]:
cursor.execute("INSERT INTO MEMBER VALUES ('홍길동',20,'H@hong.com')")
cursor.execute("INSERT INTO MEMBER VALUES ('최민재',23,'H@hong.com')")
cursor.execute("INSERT INTO MEMBER VALUES ('윤현우',30,'H@hong.com')")

In [16]:
conn.commit() #sqlite은 commit이 별 의미가 없다.

In [17]:
cursor.execute('SELECT * FROM MEMBER') #실행 결고는 cursor가 가리킴

In [18]:
#select문의 결과를 받는 함수 : 
##fetchall() -결과를 모두 받을 때
##fetchone() -결과를 한 행씩 받을때
##fetchmay(n) - 결과를 n행 받을 때
print(cursor.fetchall())

[('홍길동', 20, 'H@hong.com'), ('최민재', 23, 'H@hong.com'), ('윤현우', 30, 'H@hong.com')]

In [19]:
print(cursor.fetchall())

[]

In [22]:
cursor.execute("SELECT * FROM MEMBER")
members = cursor.fetchall()
for member in members:
    print(member)

('홍길동', 20, 'H@hong.com')
('최민재', 23, 'H@hong.com')
('윤현우', 30, 'H@hong.com')

In [23]:
members[0]

('홍길동', 20, 'H@hong.com')

In [27]:
cursor.execute("SELECT * FROM MEMBER")
print(cursor.fetchone())
print(cursor.fetchone())
print(cursor.fetchone())
print(cursor.fetchone())

('홍길동', 20, 'H@hong.com')
('최민재', 23, 'H@hong.com')
('윤현우', 30, 'H@hong.com')
None

In [28]:
cursor.execute("SELECT * FROM MEMBER")
while True:
    member=cursor.fetchone()
    if member is None:
        break;
    print(member)

('홍길동', 20, 'H@hong.com')
('최민재', 23, 'H@hong.com')
('윤현우', 30, 'H@hong.com')

In [34]:
cursor.execute("SELECT * FROM MEMBER")
for member in cursor.fetchmany(2):
    print(member)
    print(member[0],member[1],member[2])

('홍길동', 20, 'H@hong.com')
홍길동 20 H@hong.com
('최민재', 23, 'H@hong.com')
최민재 23 H@hong.com

In [35]:
cursor.fetchmany(2) #위에서 2개만 뿌리고 커서가 멈춰있는 곳에서 내보냄.

[('윤현우', 30, 'H@hong.com')]

In [36]:
cursor.close() #생략 가능
conn.close()

## 1.3 SQL 구문에 따라 파라미터 사용하기
- qmark, named 방식(네임드 추천)

In [41]:
#파라미터 사용하기 : qmark방법 이용
conn = sqlite3.connect('data/ch10_example.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?,?)",('최민재','윤현우'))
print(cursor.fetchall())

[('최민재', 23, 'H@hong.com'), ('윤현우', 30, 'H@hong.com')]

In [45]:
#튜플로
name1=input('검색할 이름1:')
name2=input('검색할 이름2:')
names=(name1,name2)
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?,?)",names)
print(cursor.fetchall())

검색할 이름1:최민재
검색할 이름2:윤현우
[('최민재', 23, 'H@hong.com'), ('윤현우', 30, 'H@hong.com')]

In [53]:
#파라미터 사용하기: named 방법
name=input('검색하고자 하는 이름:')
cursor.execute("SELECT * FROM MEMBER WHERE NAME=:name",{'name':name})
members = cursor.fetchall()
if len(members)==0 :
      print('해당이름데이터가없습니다.')
else:
    print(cursor.fetchall())

검색하고자 하는 이름:김정길
해당이름데이터가없습니다.

In [ ]:
try:
    name = input('입력할 이름?')
    age = int(input('나이?'))
    email = input('입력할 메일?')
except:
    print('나이를 잘못 입력했어요. 초기값 20살')
    age=20
    email=input('입력 메일')
cursor.execute("INSERT INTO MEMBER VALUES (:name,:age,:email)",
              {'name':name,'age':age,'email':email})

나이를 잘못 입력했어요. 초기값 20살